{%include "../../header.inc"%}

    <div id="ds-body">
    <div class="span9">
      <h1>Linked Data</h1>
	  <p>Linked Data describes a set of good practices to publish and link information on the Web. This repository provides a SPARQL endpoint containing metadata about the different datasets published.</p>
	  <h2>What is SPARQL</h2>
	  <p>SPARQL is a query language for RDF. If you are not familiar with SPARQL, there are several resources that can help you learn the basics:</p>
	  <ul>
		  <li>
			  <a href='http://tw.rpi.edu/2007/11/sparql-intro-gtw.pdf'>An Introduction to the SPARQL RDF Query Language</a> by Greg Williams
		  </li>
		  <li>
			  A brief description of <a href='http://handbook.schoolofdata.org/en/latest/reference/rdf.html'>what is RDF and how to use SPARQL</a> by Alvaro Graves
		  </li>
		  <li>
			  <a href='http://www.slideshare.net/olafhartig/an-introduction-to-sparql'>An introduction to SPARQL</a> by Olaf Hartig
		  </li>
		  <li>
			  The specification of the <a href='http://www.w3.org/TR/rdf-sparql-query/'>SPARQL 1.0 Query Language</a>
		  </li>
		  <li>
			  The specification of the <a href='http://www.w3.org/TR/rdf-sparql-query/'>SPARQL 1.1 Query Language</a>
		  </li>
</ul>	

		 <h2>Data.rpi.edu SPARQL Endpoint</h2>
		 <p>The SPARQL endpoint containing data from data.rpi.edu is located at <a href='http://escience.rpi.edu:8890/sparql'>http://escience.rpi.edu:8890/sparql</a>. You can execute SPARQL queries there. <strong>You need to specify http://data.rpi.edu as the graph you want to query</strong>.</p>
		 
		 <h3>Examples</h3>
		 <p>There are some basic queries you can execute to obtain information about the datasets hosted in data.rpi.edu and their contributors.</p>
		 <h4>Query about all the contributors</h4>
		 <pre class="prettyprint">
			 PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
			 PREFIX foaf: &lt;http://xmlns.com/foaf/0.1/&gt;
			 
			 SELECT DISTINCT ?resource ?resourceLabel WHERE {
			       ?resource a foaf:Agent;
			                 rdfs:label ?resourceLabel .
			 }order by ?resourceLabel		
		 </pre>
		 <p>You can see the results <a href='http://escience.rpi.edu:8890/sparql?default-graph-uri=&query=PREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0APREFIX+foaf%3A+%3Chttp%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2F%3E%0D%0ASELECT+DISTINCT+%3Fresource+%3FresourceLabel+WHERE+%7B%0D%0A%09%09%09+++++++%3Fresource+a+foaf%3AAgent%3B%0D%0A%09%09%09+++++++++++++++++rdfs%3Alabel+%3FresourceLabel+.%0D%0A%09%09%09+%7Dorder+by+%3FresourceLabel%09%09&debug=on&timeout=&format=text%2Fhtml&save=display&fname='>here</a>.</p>

		 <h4>Datasets where a specific person has been a creator or contributor</h4>
		 <p>In this case we will look for the datasets related to Pauline Oliveros</p>
		 <pre class="prettyprint">
			 PREFIX dc: &lt;http://purl.org/dc/elements/1.1/&gt;
			 
			 SELECT ?dataset ?datasetLabel WHERE{
			   ?dataset dc:title ?datasetLabel .
			   {
			    ?dataset dc:contributor &lt;http://data.rpi.edu/contributor/paulineoliveros&gt;
			   }UNION{
			    ?dataset dc:creator &lt;http://data.rpi.edu/contributor/paulineoliveros&gt;
			   }
			 }ORDER BY ?datasetLabel
		 </pre>
		 <p>You can see the results <a href='http://escience.rpi.edu:8890/sparql?default-graph-uri=&query=PREFIX+dc%3A+%3Chttp%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%3E%0D%0A%09%09%09+%0D%0A%09%09%09+SELECT+%3Fdataset+%3FdatasetLabel+WHERE%7B%0D%0A%09%09%09+++%3Fdataset+dc%3Atitle+%3FdatasetLabel+.%0D%0A%09%09%09+++%7B%0D%0A%09%09%09++++%3Fdataset+dc%3Acontributor+%3Chttp%3A%2F%2Fdata.rpi.edu%2Fcontributor%2Fpaulineoliveros%3E%0D%0A%09%09%09+++%7DUNION%7B%0D%0A%09%09%09++++%3Fdataset+dc%3Acreator+%3Chttp%3A%2F%2Fdata.rpi.edu%2Fcontributor%2Fpaulineoliveros%3E%0D%0A%09%09%09+++%7D%0D%0A%09%09%09+%7DORDER+BY+%3FdatasetLabel&debug=on&timeout=&format=text%2Fhtml&save=display&fname='>here</a>.</p>

		 <h4>Return description of a dataset in RDF</h4>
		 <pre class="prettyprint">
			 DESCRIBE &lt;http://data.rpi.edu/architecture/main/performance_of_a_sensory_substitution_system_to_present_music_via_touch&gt;
		 </pre>
		 <p>You can see the results <a href='http://escience.rpi.edu:8890/sparql?default-graph-uri=&query=describe+%3Chttp%3A%2F%2Fdata.rpi.edu%2Farchitecture%2Fmain%2Fperformance_of_a_sensory_substitution_system_to_present_music_via_touch%3E&debug=on&timeout=&format=text%2Frdf%2Bn3&save=display&fname='>here</a>.</p>


      <!--p>Linked Data describes a set of good practices to publish and link information on the Web. This repository uses several Linked Data tecnologies and techniques to publish the metadata about our datasets:</p>
      <ul>
        <li>Using <a href='http://en.wikipedia.org/wiki/Uniform_resource_identifier'>URIs</a> to identify things (in this case, datasets, contributors, etc.)</li>
        <li>Provide data in multiple representations, using <a href='http://en.wikipedia.org/wiki/Content_negotiation'>content negotiation</a>.</li>
        <li>Use several serializations of RDF (<a href='http://en.wikipedia.org/wiki/N-Triples'>N-Triples</a>, <a href='http://en.wikipedia.org/wiki/Turtle_(syntax)'>Turtle</a> and <a href='http://en.wikipedia.org/wiki/RDF/XML'>RDF/XML</a> being the most common)</li>
      </ul>
      <h2>How to use Linked Data?</h2>
      <p>There are sevearl ways to consume Linked Data. Here we list some of the most common ones<p>
      <h3>Using a browser (for humans)</h3>
      <p>The simplest way to consume this data is by pointing a web browser (Mozilla Firerfox, Google Chrome, to name a few) to a datasets URI. For example, clicking in <a href='http://data.rpi.edu/architecture/main/Performance_Of_A_Sensory_Substitution_System_To_Present_Music_Via_Touch'>http://data.rpi.edu/architecture/main/Performance_Of_A_Sensory_Substitution_System_To_Present_Music_Via_Touch</a>, the browser will be redirected to a document describing that dataset.</p>
      <h3>Using cURL</h3>
      <p>It is also possible to use <code>curl</code> to obtain different representations of the data, just by specifying which format we want. For example, to obtain the RDF/XML version of the previous dataset, we open a terminal an run:</p>
      <pre class="prettyprint">
curl -LH 'Accept: application/rdf+xml' http://data.rpi.edu/architecture/main/Performance_Of_A_Sensory_Substitution_System_To_Present_Music_Via_Touch
      </pre>
      <p>The results obtained is a RDF/XML document describing the dataset similar to this:</p>
      <pre class="prettyprint">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:ns0="http://purl.org/dc/elements/1.1/"
  xmlns:ns1="http://www.w3.org/2002/07/owl#"
  xmlns:ns2="http://www.w3.org/2000/01/rdf-schema#"&gt;

  &lt;rdf:Description rdf:about="http://data.rpi.edu/architecture/main/Performance_Of_A_Sensory_Substitution_System_To_Present_Music_Via_Touch"&gt;
    &lt;ns0:subject&gt;assistive technology&lt;/ns0:subject&gt;
    &lt;ns0:subject&gt;Sensory Substitution System&lt;/ns0:subject&gt;
    &lt;ns0:subject&gt;haptic&lt;/ns0:subject&gt;
    &lt;ns0:subject&gt;touch&lt;/ns0:subject&gt;
    &lt;ns0:contributor rdf:resource="http://data.rpi.edu/contributor/Rensselaer_Polytechnic_Institute_Empac"/&gt;
    &lt;ns1:sameAs rdf:resource="http://hdl.handle.net/10833/28"/&gt;
    &lt;ns0:creator rdf:resource="http://data.rpi.edu/contributor/PhilRobinson"/&gt;
    &lt;ns0:creator rdf:resource="http://data.rpi.edu/contributor/PaulineOliveros"/&gt;
    &lt;ns0:creator rdf:resource="http://data.rpi.edu/contributor/DougVan_Nort"/&gt;
    &lt;ns0:creator rdf:resource="http://data.rpi.edu/contributor/JonasBraasch"/&gt;
    &lt;ns0:creator rdf:resource="http://data.rpi.edu/contributor/DeborahEgloff"/&gt;
    &lt;ns0:title&gt;Performance of a sensory substitution system to present music via touch&lt;/ns0:title&gt;
    &lt;ns0:issued&gt;2012-05-23&lt;/ns0:issued&gt;
  &lt;/rdf:Description&gt;

  &lt;rdf:Description rdf:about="http://data.rpi.edu/contributor/Rensselaer_Polytechnic_Institute_Empac"&gt;
    &lt;ns2:label&gt;Rensselaer Polytechnic Institute. EMPAC.&lt;/ns2:label&gt;
  &lt;/rdf:Description&gt;

  &lt;rdf:Description rdf:about="http://data.rpi.edu/contributor/PhilRobinson"&gt;
    &lt;ns2:label&gt;Phil Robinson&lt;/ns2:label&gt;
  &lt;/rdf:Description&gt;

  &lt;rdf:Description rdf:about="http://data.rpi.edu/contributor/PaulineOliveros"&gt;
    &lt;ns2:label&gt;Pauline Oliveros&lt;/ns2:label&gt;
  &lt;/rdf:Description&gt;

  &lt;rdf:Description rdf:about="http://data.rpi.edu/contributor/DougVan_Nort"&gt;
    &lt;ns2:label&gt;Doug Van Nort&lt;/ns2:label&gt;
  &lt;/rdf:Description&gt;

  &lt;rdf:Description rdf:about="http://data.rpi.edu/contributor/JonasBraasch"&gt;
    &lt;ns2:label&gt;Jonas Braasch&lt;/ns2:label&gt;
  &lt;/rdf:Description&gt;

  &lt;rdf:Description rdf:about="http://data.rpi.edu/contributor/DeborahEgloff"&gt;
    &lt;ns2:label&gt;Deborah Egloff&lt;/ns2:label&gt;
  &lt;/rdf:Description&gt;

&lt;/rdf:RDF&gt;
      </pre>

      <h3>Using a Linked Data browser</h3>
      <p>There are several linked data clients that can be used to visualize and navigate Linked Data:</p>
      <ul>
        <li><a href='http://marbles.sourceforge.net/'>Marbles</a> (<a href='http://www5.wiwiss.fu-berlin.de/marbles?mobile=false&lang=en&uri=http%3A%2F%2Fdata.rpi.edu%2Farchitecture%2Fmain%2FPerformance_Of_A_Sensory_Substitution_System_To_Present_Music_Via_Touch&purpose=defaultPurpose&Submit=Open'>example</a>)</li>
        <li><a href='http://graves.cl/visualRDF'>visualRDF</a> (<a href='http://graves.cl/visualRDF/?url=http%3A%2F%2Fdata.rpi.edu%2Farchitecture%2Fmain%2FPerformance_Of_A_Sensory_Substitution_System_To_Present_Music_Via_Touch'>example</a>)</li>
        <li><a href='http://linkeddata.uriburner.com/ode/'>OpenLink Data Explorer</a> (<a href='http://linkeddata.uriburner.com/ode/?uri%5B%5D=%3Ffind%3Dhttp%3A%2F%2Fdata.rpi.edu%2Farchitecture%2Fmain%2FPerformance_Of_A_Sensory_Substitution_System_To_Present_Music_Via_Touch%26format%3Dapplication%2Frdf%252Bxml&'>example</a>)</li>
       </ul>
    <h2>More information about Linked Data</h2>
      <ul>
        <li><a href='http://en.wikipedia.org/wiki/Linked_data'>Wikipedia article about Linked Data</a></li>
        <li><a href='http://linkeddata.org/'>Linked Data portal, including tutorials and guides</a></li>
        <li><a href='http://logd.tw.rpi.edu'>Linked Open Government Data, Tetherless World Constellation</a>
        <li><a href='http://www.w3.org/standards/semanticweb/data'>W3C page on Linked Data</a></li>
        <li><a href='http://linkeddatabook.com/editions/1.0/'>Online book on Linked Data</a></li>
     </ul-->
    </div>
    </div>
{%include "../../footer.inc"%}

